
<label for="bezeichnung">
	<f:translate key="tx_lvkacheln_domain_model_kacheln.bezeichnung" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="bezeichnung" /><br />
<label for="effekt">
	<f:translate key="tx_lvkacheln_domain_model_kacheln.effekt" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="effekt" /><br />
<label for="url">
	<f:translate key="tx_lvkacheln_domain_model_kacheln.url" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="url" /><br />
<label for="ueberschrift">
	<f:translate key="tx_lvkacheln_domain_model_kacheln.ueberschrift" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="ueberschrift" /><br />
<label for="text">
	<f:translate key="tx_lvkacheln_domain_model_kacheln.text" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="bilder">
	<f:translate key="tx_lvkacheln_domain_model_kacheln.bilder" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />