
<table class="tx-lvkacheln" >
	<tr>
		<td>
			<f:translate key="tx_lvkacheln_domain_model_kacheln.bezeichnung" />
		</td>
		<td>
		{kacheln.bezeichnung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvkacheln_domain_model_kacheln.effekt" />
		</td>
		<td>
		{kacheln.effekt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvkacheln_domain_model_kacheln.url" />
		</td>
		<td>
		{kacheln.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvkacheln_domain_model_kacheln.ueberschrift" />
		</td>
		<td>
		{kacheln.ueberschrift}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvkacheln_domain_model_kacheln.text" />
		</td>
		<td>
		{kacheln.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvkacheln_domain_model_kacheln.bilder" />
		</td>
		<td>
				<f:image src="{kacheln.bilder.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>